eval/jetty-distribution-8.1.16.v20140903/webapps/EnseirbWebXMLWebapp/resources/xsd/user_type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:user="http://enseirb/user" targetNamespace="http://enseirb/user">
	<xsd:complexType name="type_user">
		<xsd:attribute name="name" type="xsd:string" use="required" />
	</xsd:complexType>

	<xsd:complexType name="type_userlist">
		<xsd:sequence>
			<xsd:element name="user" type="user:type_user" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>