eval/data/tds/xsd/owner.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	    xmlns:user="http://enseirb/user">
  
  
  <xsd:element name="changeowner" maxOccurs="unbounded">
    <xsd:complexType>
      <xsd:attribute name="taskID"       type="xsd:int" use="required" />
      <xsd:attribute name="newOwnerName" type="xsd:string" use="required" />
    </xsd:complexType>
  </xsd:element> 
</xsd:schema>
